* {
    margin: 0;
    padding: 0;
}
.body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.navbar {
    background-color: #fff;
}
.navbar-brand img {
    height: 2.5rem;
    padding-left: 0.9rem;
}
.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #007bff!important; 
}
/*============ After "navbar-expand-md" use ============*/
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    float: center;
    text-align: center;
}
/*============ overriding class !important ============*/
.navbar-toggler {
    border: none!important;
}
.carousel-item img {
    width: 100%;
    height: 761px; 
}
#slider {
    width: 100%;
}
.carousel-caption {
    top: 45%;
    bottom: initial!important;
}
.carousel-caption h5 
{
    color: #fff;
    font-size: 42px;
}
/*============ about ============*/
#about {
    padding-top: 70px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn {
    margin-top: 1.5rem;
    margin-bottom: 30px;    
}
.about-content {
    padding-top: 20px;
}
.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar {
    border-radius: 16px;
}
.progress {
    border-radius: 16px !important;
    margin-bottom: 20px;
}
/*============ services ============*/
#services h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 50px;
}
#services {
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../img/4.jpg");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #efefef;!important;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    border-radius: 20%;
    width: 170px;
    margin: 20px auto 5px;
}
.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
 p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
#services .col-md-3:hover {
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
/*============ Team ============*/
#team {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #555;
}
#team h1 {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
#team h1::after {
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    border-radius: 20%;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic {
    margin-top: 25px;
}
.profile-pic .img-box {
    opacity: 1;
    display: block;
    position: relative;
} 
.profile-pic .img-box img {
    filter: grayscale(1);
}
.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}
.profile-pic h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-box p {
    color: #555;
}
#team .fa {
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    top: 55%;
}
.img-box ul li {
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul {
    opacity: 1;
}
.img-box ul, .img-box ul li {
    transition: 0.5s;
}

/*============ Promo ============*/
#promo {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/5.jpg")
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    
}
#promo p {
    color: #fff;
    font-size: 38px;
    
}
/*============ price ============*/
#price h1 {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
#price h1::after {
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    border-radius: 20%;
    width: 170px;
    margin: 20px auto 5px;
}
#price
{
    padding: 40px 0;
    background: #efefef;
}
.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover {
    box-shadow: 0 2px 20px #333;
}
.price-head {
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p {
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span {
    font-size: 15px;
}
.price-content {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li {
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
.fa-check-circle {
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle {
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button {
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn {
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover {
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}
a {
    text-decoration: none!important;
    color: #fff!important;
}
/*============ Testimonials ============*/
#testimonials {
    padding-top: 100px;
    padding-bottom: 50px;
}
#testimonials h1 {
    color: #555;
    text-align: center;
    padding-bottom: 25px;
}
#testimonials h1::after {
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    border-radius: 20%;
    width: 170px;
    margin: 20px auto 5px;
}
#testimonials .row {
    margin-top: 30px;
}
.col-md-4 {
    margin: 40px auto;
}
.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img {
    top: -60px;
}
.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span {
    font-size: 12px;
    color: #333;
}
/*===============================================
blockquote {
    font-size: 16px;
    line-height: 30px;
    quotes: "“" "”";
}
/* ============== dubble inverted """"=============
blockquote::before {
    content: open-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after {
    content: close-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
=================================================================*/
.profile:hover {
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
#testimonials p {
    padding-bottom: 30px;
}
#testimonials p {
    color: #555;
}
/*============ contact ============*/
#contact h1 {
    color: #555;
    text-align: center;
    padding-bottom: 25px;
}
#contact h1::after {
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    border-radius: 20%;
    width: 170px;
    margin: 20px auto 5px;
}
#contact {
    background: #efefef;
    padding-top: 100px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form {
    padding: 15px;
}
.form-contact {
    border-radius: 0 !important;
    border: none !important;
}
::placeholder {
    color: #999 !important;
}
.follow {
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa {
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
#footer {
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o {
    margin: 3px;
    color: red;
    transition: transform 0.5s ease;
}

.fa-heart-o:hover {
    transform: scale(1.5);
    color: #007bff;
}









